# Visual studio temp files
*.TMP
*.autosave
*.user
todo
build-input-overlay*/
*.iss
*.vscode/
docs/cct/server.sh
cmake-*/
.idea/*
.deps/
build_x64/
release/
client_build/
*.generated.h

build/
client/build-*/
cmake/.CMakeBuildNumber
/build_x86_64/
_codeql_detected_source_root
