@import url("colors.css");

.custom-select {
    position: relative;
    font-family: "Arial", Times, serif;
    font-size: 11pt;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color:  var(--dark-control);
    border-color: var(--dark-control-border);
    color: var(--dark-textbox);
    border-radius: 3px;
    border-style: solid none none none;
    border-width: 1px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 9px;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 2px;
}

.select-selected.select-arrow-active {
    border-radius: 3px 3px 0px 0px !important;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    /* padding-left: 5px; */
    padding-top: 2px;
    height: 20px;
    cursor: pointer;
    padding-left: 5px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background: var(--dark-control);
    border-color: var(--dark-control-border);
    color: var(--dark-textbox);
    top: 100%;
    border-radius: 0px 0px 3px 3px;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;

}

.select-items > div:hover {
    background-color: var(--theme-accent);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

